<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h2>{{>navigationBar}}</h2>
        <h2>{{title}}</h2>

    <form action="" id="form1">
        <input type="text" id="address">
        <button> Search for Weather</button>
    </form>
    <p id="location"></p>
    <p id="forecast"></p>
    <p id="error"></p>
    <p id="longtitude"></p>
    <p id="latitude"></p>
    <script src="js/script.js"></script>
</body>
</html>